@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

:root {
    --cor1: white;
    --cor2: black;
    --cor3: rgba(78, 117, 190, 0.74);
    --cor4: rgb(80, 80, 80);
    --cor5: rgba(221, 221, 221, 0.849);;
}

body {
    background-color: var(--cor5);
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor5);
    height: 50px;
    width: 100vw;
    border-bottom: 1px solid rgba(167, 167, 167, 0.397);
}

#header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 35px;
}

#header-div > span {
    font-size: 20px;
}

#menu{z-index: 1; cursor: pointer;}
#menu .barra {
    display: block;
    width: 15px;
    height: 2.5px;
    margin: 5px;
}
.barra:nth-child(1) {background-color: var(--cor3)}
.barra:nth-child(2) {background-color: var(--cor2)}
.barra:nth-child(3) {background-color: var(--cor3)}

#principal-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor1);
}
#principal-nav > ul {
    width: 100%;
    height: 100%;
}
#principal-nav > ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 100%;
    font-size: 22px;
}

#principal-nav > ul > li > a {color: var(--cor2);}
#principal-nav > ul > li > a:hover {color: var(--cor3);}
#nav-lateral{display: none;}

#botao-inicio {
    position: fixed; 
    bottom: 100px; 
    right: 40px; 
    font-size: 25px;
    color: var(--cor3);
    cursor: pointer;
}
#botao-inicio:hover {color: var(--cor4);}

/* main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#principal {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    padding: 0 35px;
}   

#principal-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 30px;
}

#principal-text > p {font-size: 20px; color: var(--cor4);}
#principal-text > h1 {color: var(--cor3); font-size: 30px;}

#sobre-e-icons{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#principal-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--cor3);
    cursor: pointer;
}

#principal-sobre > p {
    font-size: 18px;
    color: var(--cor4);
}

#principal-icons {
    display: flex;
    gap: 25px;
    font-size: 25px;
    margin-top: 20px;
}
#principal-icons > i {color: var(--cor4); cursor: pointer;}
#principal-icons > i:hover {color: var(--cor3); cursor: pointer;}

/* sobre */

#sobre {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    height: 100%;
}

.linha-titulo {
    display: block;
    width: 2.3rem; 
    height: 2px; 
    background-color: var(--cor3);
}

#sobre-infos {
    display: grid;
    gap: 25px;
    width: 100%;
    padding: 20px 0;
}

#sobre-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.barra-sobre{
    width: 80px;
    height: 3px;
    margin: 2.5px;
    transform: rotateY('45deg');
}
.barra-sobre:nth-child(1) 
{
    width: 50px; 
    background-color: var(--cor3);
}
.barra-sobre:nth-child(2){background-color: var(--cor4);} 
#sobre-direita > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--cor2);
}

#sobre-esquerda{
    display: grid;
    gap: 35px;
}
#esquerda-text {
    text-align: center;
}

#redes-infos {
    display: grid;
    gap: 10px;
}

#redes-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#redes-icons > i {
    font-size: 25px;
    color: var(--cor4);
}