@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

:root {
    --azul: rgb(65, 154, 226);

}

body {
    background: rgb(14, 15, 17);
    color: white;
}

/* header */
#navegation {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

#navegation .logo {
    margin: 15px 0 10px 15px;
    font-style: italic;
}

#navegation .nav-menu {
    display: none;
    background: rgb(14, 15, 17);
}

#navegation .nav-menu > ul {
    text-align: center;
    margin: 60px 30px 0 0;
    
}

#navegation .nav-menu > ul > li{
   margin-bottom: 25px;
}

#navegation .nav-menu > ul > li > a {
    color: white;
}

#navegation .nav-menu > ul > li > a:hover {
    color: var(--azul);
}

#navegation .menu {
    cursor: pointer;
    margin: 11px 15px 0 0;
}

#navegation .menu .barra {
    display: block;
    width: 20px;
    height: 3px;
    background: white;
    margin: 3px auto;
}

#navegation .menu .barra:nth-child(1) { background-color: var(--azul);}
#navegation .menu .barra:nth-child(3) {background-color: var(--azul);}

/* main */

/* bem vindo */
#home {
    height: 300px;
    background: url(../img/codigo-html-background.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

#home .home-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}

#home .home-text > h1 {
    color: var(--azul);
    margin-bottom: 30px;
}

#home .home-text .bnt-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 70px; 
    height: 40px;
    width: 140px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.678);
    background: var(--azul); 
    cursor: pointer; 
}

#home .home-text .bnt-1 > a {
    color: white;
}

/* sobre mim */

#sobreMim {
    padding: 20px;
}

.barraDec {
    display: block;
    width: 26px;
    height: 2px;
    margin: 2px 0 25px 0;
    background-color: var(--azul);
}

#sobreMim .sobreMim-text > p {
    text-align: justify;
    font-size: 0.9em;
    margin-bottom: 50px;
}

#sobreMim .sobreMim-text .spanComent {
    text-align: center;
    color: rgba(0, 128, 0, 0.377);
}

#sobreMim .sobreMim-text .infos {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid var(--azul);
}

.sobreMim-text .infos .list:nth-child(2) {
    margin-left: 100px;
}

.sobreMim-text .infos .list > li{
    margin-bottom: 5px;
    cursor: pointer;
}

/* habilidades */

#habilidades {
    padding: 20px;
}

.minhasHabi .cardHabi {
    display: flex;
    justify-content: space-between;
}

.minhasHabi .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border-radius: 50% 50%;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--azul);
}

