@charset "UTF-8";

/* mobile first */


/*
    CORES: 

    Preto
    Azul-neon
    Branco
    Verde (talvez)

*/

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body, html {
    background-color: rgb(18, 18, 19);
    color: white;

    width: 100vw;
    height: 100vh;
}

header {
    display: block;
    border-bottom: 1px solid rgba(5, 182, 252, 0.801);
    background-color: black;
}

header > span {
    display: flex;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

menu {
    display: none;
    border: 1px solid rgba(5, 182, 252, 0.801);
}


nav> ul > li {
    padding: 10px;
    border: 1px solid rgba(5, 182, 252, 0.801);
    list-style: none;
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
    width: 100px;
}

section#bem-vindo {
    text-align: center;
    height: 150px;
    border-bottom: 1px solid rgba(5, 182, 252, 0.801);
    margin-top: 4em;
}


section .btn1 {
    background-color: rgba(5, 182, 252, 0.801);
    color: black;
    margin-top: 2.5em;
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

section#sobre-mim {
    width: 100vw;
}

div#infos-pessoal {
    align-items: center;
    justify-content: center;
    align-items: start;  
}

div#img-sobre-mim {
    display: none;  
}

div#text-sobre-mim {
    margin: 2em;
}

div#text-sobre-mim > h1 {   
    color: rgba(5, 182, 252, 0.801); 
}

div#text-sobre-mim > p {
    margin-top: 1.5em;
}

div.infos > h1 {
    display: block;
    text-align: left;
    margin: 2em 0 1em 30px;
    color: rgba(5, 182, 252, 0.801); 
}

div.infos > p {
    text-align: justify;
    text-indent: 20px;
    padding: 0px 10px;
}

div#habilidades {
    display: flex;
}


div#habilidades > ul > li {
    list-style: none;
    margin: 30px;
    padding: 5px 10px;
}

div#habilidades > ul > li > a {
    text-decoration: none;
    color: white;
}

div#habilidades > iframe {
    overflow: hidden;
    margin-top: 20px;
}

section#projetos {
    margin-top: 2em;
}
