@charset "UTF-8";

/* mobile first */

* {
    padding: 0;
    margin: 0;
}

body, html {
    background-color: black;
    color: white;

    width: 100vw;
    height: 100vh;
}

header {
    display: block;
    border-bottom: 1px solid grey;
}

header > span {
    display: flex;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

menu {
    display: none;
    border: 1px solid gray;
}



nav> ul > li {
    padding: 10px;
    border: 1px solid grey;
    list-style: none;
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
}

section#bem-vindo {
    text-align: center;
    padding: 2em 0;
    border-bottom: 1px solid grey;
}

section#bem-vindo > h1 {
    text-align: justify;
    text-indent: 20px;
    padding: 0px 10px;
}

section .btn1 {
    margin-top: 2.5em;
    width: 30%;
    height: 35px;
    border-radius: 10px;
}

section#sobre-mim {
    width: 100vw;
}

div.infos > h1, h3 {
    display: block;
    text-align: center;
    margin: 1.2em 0px;
}

div.infos > p {
    text-align: justify;
    text-indent: 20px;
    padding: 0px 10px;
}

div#habilidades {
    display: flex;
}


div#habilidades > ul > li {
    list-style: none;
    margin: 30px;
    padding: 10px 10px;
}

div#habilidades > iframe {
    overflow: hidden;
    
}