@charset "UTF-8";

/* mobile first */


/*
    CORES: 

    Preto
    Azul-neon
    Branco
    Verde (talvez)

*/

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body, html {
    background-color: rgb(18, 18, 19);
    color: white;

    width: 100vw;
    height: 100vh;
}

header {
    
    border-bottom: 1px solid rgba(5, 182, 252, 0.801);
    background-color: black;
}

header > span {
    display: flex;
    text-align: right;
    padding: 10px;
    cursor: pointer;
}

menu {
    display: none;
    border: 1px solid rgba(5, 182, 252, 0.801);
}


nav> ul > li {
    padding: 10px;
    border: 1px solid rgba(5, 182, 252, 0.801);
    list-style: none;
}

nav > ul > li > a {
    display: block;
    text-decoration: none;
    color: white;
    width: 100px;
}

section#bem-vindo {
    text-align: center;
    height: 150px;
    border-bottom: 1px solid rgba(5, 182, 252, 0.801);
    margin-top: 4em;
}


section .btn1 {
    background-color: rgba(5, 182, 252, 0.801);
    color: black;
    margin-top: 2.5em;
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


section#sobre-mim {
    width: 100vw;
}

div .img-sobre-mim {
    display: none;
}

.infos {
    color: rgba(5, 182, 252, 0.801);
    margin: 30px 0 0 20px;
}

div.traco {
    width: 50px;
    border: 1px solid rgba(255, 255, 255, 0.568);
    margin: 0 0 30px 20px;
}

.infos-p {
    text-align: center;
}

div#habilidades {
    width: 100vw;
}

div#card-habi {
    margin: auto;
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
    border: 1px solid white;
    border-radius: 5px;
}

div#card-habi:hover {
    background: url(../img/nyan-cat-1.gif);
    background-size: cover;
}